/*Docs*/

.body {
    position: relative;
}

.sub-title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.sub-title a {
    font-size: 16px;
}

.section.docs-heading {
    padding: 0px;
}

.affix {
    position: static;
}

@media (min-width: 992px) {
    .affix,
    .affix-bottom {
        width: 213px
    }
    .affix {
        position: fixed;
        top: 20px
    }
    .affix-bottom {
        position: absolute
    }
    .affix .bs-docs-sidenav,
    .affix-bottom .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .affix,
    .affix-bottom {
        width: 263px
    }
}


/* JSON Output */

pre {
    outline: transparent;
    padding: 0px;
}

.sample {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #dfdfdfc0;
}

.mini-title {
    padding-top: 50px;
}


/* SIDEBAR */

@media (min-width: 768px) {
    .docs-sidebar {
        padding-top: 20px;
        padding-left: 20px
    }
}


/* Forms */

.form-group {
    margin-bottom: 10px;
    position: relative;
}

input {
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    padding-top: 10px;
    -webkit-appearance: none;
}

input:focus+.form-label,
input:valid+.form-label {
    top: 1px;
    font-size: 11px;
    color: #EF5350;
}

input,
select {
    box-sizing: border-box;
    width: 50%;
    border: none;
    font-family: Poppins;
    color: #EF5350ff;
    background: transparent;
    border-bottom: 1px solid #999;
    padding: 4px 0;
}

input:focus,
select:focus {
    border-bottom: 1px solid #edb77d;
}

.submit {
    width: auto;
    background: #EF5350;
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background: #365DA1;
}


/* NAVBAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #EF5350;
    overflow: hidden;
}

.logo {
    cursor: pointer;
    width: 200px;
}

.nav__links {
    list-style: none;
}

.nav__links .active {
    background-color: transparent;
}

.nav__links li {
    background-color: #365DA1;
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    color: #ffffff;
    transition: all 0.3s ease 0;
}

.nav__links li a:hover {
    color: #FECA1B;
    transition: all 0.3s ease 0;
}


/* all links */

.docs-sidebar .nav>li>a {
    color: #111;
    border-left: 2px solid transparent;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 400;
}


/* nested links */

.docs-sidebar .nav .nav>li>a {
    padding-left: 40px;
    font-size: 14px;
}


/* hover links */

.docs-sidebar .nav>li:not(.active)>a:hover {
    color: #EF5350;
    text-decoration: none;
    background-color: transparent;
    border-left-width: 1px;
    border-left-color: #EF5350;
}


/* focus links */

.docs-sidebar .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}


/* active links */

.docs-sidebar .nav>.active>a {
    color: #EF5350;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #EF5350;
}


/* all active links */

.docs-sidebar .nav>.active>a,
.docs-sidebar .nav>.active:hover>a,
.docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}


/* nested active links */

.docs-sidebar .nav .nav>.active>a,
.docs-sidebar .nav .nav>.active:hover>a,
.docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

@media (min-width: 992px) {
    .docs-sidebar .nav ul {
        display: none;
        padding-bottom: 10px;
    }
    .docs-sidebar .nav>.active>ul {
        display: block
    }
}


/*Syntax Highlighter : Sublime Theme */

.syntaxhighlighter {
    background-color: #2b303b !important;
    padding: 15px 0;
    margin: 2em 0 1em 0 !important;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
    line-height: 1.3em !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: #2b303b !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #2b303b !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
    color: #90be8c !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
    color: #d08770 !important;
}

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
    color: #c0c5ce !important;
}

.syntaxhighlighter .keyword {
    color: #bf616a !important;
}

.syntaxhighlighter .gutter {
    color: #757a84 !important;
}

.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
    background-color: #333E49 !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #343d46 !important;
    color: #757a84 !important;
}

.syntaxhighlighter .value {
    color: #96b5b4 !important;
}


/*css*/


/* .syntaxhighlighter .css.plain,
.syntaxhighlighter .css.plain a {
    color: #d08770 !important;
} 

.syntaxhighlighter .css.keyword {
    color: #c0c5ce !important;
}*/

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
    color: #b48ead !important;
}


/*js*/

.syntaxhighlighter .js.keyword {
    color: #b48ead !important;
}